body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background: #36393f;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #ffffff;
  font-size: 36px;
  margin: 0px;
}

.description {
  color: #8a8d90;
  font-size: 16px;
  margin: 0px;
  margin-top: 24px;
}

.logo {
  padding: 20px;
  height: 64px;
  width: 64px;
  background: #2b2e32;
  border-radius: 12.5%;
  margin-bottom: 24px;
  border: 3px solid #3a4048;
}
