-----BEGIN CERTIFICATE-----
MIIDTjCCAjYCCQCOWCXm/SukCjANBgkqhkiG9w0BAQsFADBpMQswCQYDVQQGEwJH
QjEQMA4GA1UECAwHRW5nbGFuZDEQMA4GA1UEBwwHQ2hvcmxleTEXMBUGA1UECgwO
SGF2ZW4gUHJvdG9jb2wxHTAbBgNVBAMMFG5lbGxpZWtpbnMuemFwdG8ub3JnMB4X
DTE5MDYxMDEyMTAyNFoXDTE5MDcxMDEyMTAyNFowaTELMAkGA1UEBhMCR0IxEDAO
BgNVBAgMB0VuZ2xhbmQxEDAOBgNVBAcMB0Nob3JsZXkxFzAVBgNVBAoMDkhhdmVu
IFByb3RvY29sMR0wGwYDVQQDDBRuZWxsaWVraW5zLnphcHRvLm9yZzCCASIwDQYJ
KoZIhvcNAQEBBQADggEPADCCAQoCggEBAOc/ZjPed5PvquVZ/bh7lC00IOyELGVw
+4PmjajkP3mYLSuwYjTulZn5SXthK6gbr1XUEZVs7YGjwYQdWyC4SW6pJ80S89n+
1bSIIR7QYCOYeMJlt+7hES7LrBsx0UK0lmNwZzxQkTuO0MIwWW3epY5L0K9Rz9BE
WUR9UX6+/1iJ52hFyhQMY55gOlXrFJ0muPcA3JuOLMY1kbWeHi6TMThKN8+EYBaZ
5JNy0GBhAm3G5kSs0uxDNuASYlCrzcCYRg4nH3E1YX9KxtW5sI0LcSF3M0sRM/fU
nCtQYBgLpFQp3/6u0EzOdHGd7/lVZxAJGY7JiGp2QVnMSurxCnkWOikCAwEAATAN
BgkqhkiG9w0BAQsFAAOCAQEAOSfzGnNZjhf0fA/XD6be0gyIaoYGvvsEbeJxtUx5
f05xAu29pp7lzydwJXZhZY9UgaXAMAfoSpP1i0nwfrUGwz7pInWq4MPzN439QBaS
u6+3VJRWeaDv6UezpOYgYvWzqRnfTgh4ZW/2SrNVbyq/n3Jb2t5exWvwjwTkmxiP
hswVOW5T5BE1smP1aTsQ9N7w0PRZ8yMFwZ/a8boNqeNbqWwScqRp+ETvcJc6mRGr
L8XBzoOfkBFcDDTrpyE//iSZXDjVZudvVZsAvoZLIPRozlQilMSAxZtL7L7mUM5M
kHrJJWmxX88+voalItKpMGDtpGwTueb8s05uCYfmOHWXKw==
-----END CERTIFICATE-----
