# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI Web Vault

on:
  push:
    branches:
      - develop
      - master
  pull_request:
    branches:
      - develop
      - master

jobs:
  web-build:
    runs-on: ubuntu-latest
    env: 
      REACT_APP_NET_TYPE_ID: ${{matrix.network}}
    strategy:
      matrix:
        network: [0, 1, 2]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '14'
    
    - name: Install client dependencies
      working-directory: client
      run: |
          git config --global url."https://".insteadOf git://
          npm install
    
    - name: Install latest wallet core
      working-directory: client
      run: |
          npm install haven-wallet-core@latest --save

    - name: Copy wallet core to root folder
      working-directory: client
      run: |
          npm run copy-haven-core

    - name: Audit client dependencies
      working-directory: client
      run: |
          npm audit fix --production

    - name: Client Build for Web
      working-directory: client
      env:
        CI: false
      run: |
          npm run build:web:ci

    - name: Upload web build
      uses: actions/upload-artifact@v2
      with:
        name: web_build-${{ matrix.network }}
        path: client/build/

